* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main: #ff4800;
    --main2: #ff6d00;
    --main3: #ff9100;
    --main4: #ffaa00;
    --main5: #ffea00;
    --bg1: #FFFFFF;
    --bg2: #fefffffa;
    --border1: #808080;
    --border2: #e5e4e273;
}
.main {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.itl {
    font-style: italic;
}
span {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

@media screen and (max-width:1000px) {
    .main {
        visibility: visible;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
    header {
        height: 10vh;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        background-color: var(--bg2);
    }
    .header-icon {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
    }
    .motto {
        font-size: 0.8rem;
    }
    .title {
        color: var(--main)
    }
    .tabs {
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left:20px;
        padding-right: 20px;
        gap: 30px;
        width: 100vw;
        overflow-x: scroll;
        position: sticky;
        top: 0;
        background-color: var(--bg1);
        z-index: 999;
    }
    .tab {
        min-width: 75px;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: var(--border2);
        color: var(--border1);
        text-decoration: none;
        font-weight: 500;
    }
    .activeTab {
        background-color: var(--main2);
        color: var(--bg2);
    }
    .display-hero {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .hero {
        height: 57vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .hero-img {
        height: 55vh;
        width: 350px;
        max-width: 92vw;
        object-fit: cover;
        border-radius: 20px;
    }
    .type {
        height: 50vh;
        padding-left: 10px;
        padding-top: 8vh;
    }
    .items-div {
        height: 250px;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-left: 10px;
        overflow-x: scroll;
        padding-right: 20px;
    }
    .item {
        width: 150px;
        height: 200px;
        object-fit: cover;
    }
    /* image slider */
    .slide {
        display: none;
    }
    .slide:first-of-type {
        display: block;
    }
    .slide .text {
        position: absolute;
        bottom: 20px;
        color: var(--bg1);
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        padding-left: 10px;
    }
    .dots {
        text-align: center;
    }
    .dot {
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbbbbb3f;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    .active {
        background-color: var(--main2);
        opacity: .3;
    } 
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    /* image slider */
    ::-webkit-scrollbar {
        display: none;
    }
    html, body {
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        scroll-behavior: smooth;
        overscroll-behavior: contain;
    }

}